.style {
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s ease-out;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.5;
}

.style:hover {
  transform: translate3d(0, -5px, 0);
}
