.table-bordered {
  border-collapse: collapse;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-shadow: #ddd;
  margin: auto;
  }

  .style {
   
    width: 650px;
    margin-top: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-out;
    justify-content: center;
   text-align: center;
   font-weight: bold;
   font-size: 1.5;
   background-color: rgb(218, 218, 154);
  }
  
  .style:hover {
    transform: translate3d(0, -15px, 0);
  }

  .table-bordered td,
  .table-bordered th {
  border: 1px solid black;
  justify-content: center;
  padding: 8px;
  text-align: left;
  }
  
  .table-bordered th {
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: center;
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  }
  
  .table th {
    background-color: #eee;
    color: #333;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  .table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  